{% extends 'base.html.twig' %}

{% block title %}Hello VehicleController!{% endblock %}

{% block body %}

<div class="container mt-5 text-center">
    <p>{{ vehicle.marque }}</p>
    <p>{{ vehicle.modele }}</p>
    <p>{{ vehicle.description }}</p>
    <p>{{ vehicle.prixJournalier }}</p>
    <p>{{ vehicle.dateEnregistrement|date("d/m/Y \à H\\hi") }}</p>
    
</div>
{% endblock %}
